<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/fa-regular-400.ttf</string>
		<string>Fonts/fa-sharp-regular-400.ttf</string>
		<string>Fonts/fa-duotone-regular-400.ttf</string>
		<string>Fonts/fa-brands-400.ttf</string>
		<string>Oswald-Regular.ttf</string>
		<string>Fonts/Oswald-SemiBold.ttf</string>
		<string>Fonts/Oswald-ExtraLight.ttf</string>
		<string>Fonts/Oswald-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
